body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title
{
    background-color: #f0f8ff;
    color: black;
    padding-left: 20px;
    height: 200px;
    align-items: center;
    display: flex;
    font-size: 48px;
    margin-bottom: 30px;
}

:any-link{text-decoration:none;}

footer 
{
    position: absolute;
    left: 10pt;
	bottom: 75px;
}

html, body
{
    padding: 0%;
    margin: 0%;
}
.content_container
{
    background-color: #1d1d1d;
    color: white;
    display:flexbox;
}

.content
{
padding-left: 20px;
}

:any-link{color: white;}
