body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title 
{
    text-align: left;
    font-size: 48pt;
    
}

.paragraph
{
    font-size: 13pt;
    line-height: normal;
    line-break;

}



:any-link{text-decoration:none;}

footer 
{
    position: absolute;
    left: 10pt;
	bottom: 75px;
}

*
{
    background-color: #031926;
    color:white;
}